body {
  background-color: orange;
}

article {
  background-color: #fff;
  width: 50%;
}

/* img 를 div로 감싸지 않고 article바로 밑에 사용하면
  img는 article영역의 전체를 잡아버려서 h2,p에 있는 컨텐츠가
  보이지않게된다. (absolute를 사용하여 top,left 0에 붙었기 때문에)
*/
div {
  border: 2px solid red;
  width: 100%;
  background-color: #fff;
  position: relative;
  height: 0;
  /* article의 width가 50% 이기때문에 div입장에선 article 100% 반절인 50%가 높이값이됨 */
  padding-top: 50%;
}

img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-position: top;
}
